.add_data_file {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.add_data_file-title {
    width: 95%;
    text-align: center;
    padding: 5px 0;
    margin: 5px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
}

.add_data_file-file {
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
    display: flex;
    flex-direction: column;
}

.add_data_file-click-me {
    width: 50%;
    margin: 10px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
    text-align: center;
    font-weight: bold;
    background-color: rgb(92, 201, 87);
}

.add_data_file-info {
    text-align: center;
    padding: 5px 0;
}

.add_data_file-error {
    text-align: center;
    background-color: red;
    color: #fff;
    padding: 5px 0;
}

.add_data_file__buttons {
    width: 95%;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

.add_data_file__buttons--cancel,
.add_data_file__buttons--add {
    font-size: 1rem;
    padding: 5px 10px;
    min-width: 25%;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px rgb(106, 132, 134);
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.add_data_file__buttons--add {
    background-color: #43c752;
}

.add_data_file-result-warning {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.add_data_file__options-buttons {
    width: 95%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.add_data_file__options-buttons--ok,
.add_data_file__options-buttons--create {
    padding: 10px 0;
    margin: 10px 0;
    width: 95%;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px rgb(106, 132, 134);
    cursor: pointer;
}

.add_data_file__options-buttons--ok:active,
.add_data_file__options-buttons--create:active {
    background-color: #e1ff00;
}

@media screen and (max-width: 500px) {
    .add_data_file-click-me {
        font-size: 1.1rem;
        padding: 5px;
    }
}