.collections {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.collections-title {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    text-align: center;
    background-color: #fff;
    text-align: center;
    color: rgb(255, 77, 0);
    padding: 10px 0;
}

.collections__elements {
    flex-grow: 1;
    overflow-y: auto;
}