.search {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.search-warning {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 250px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid black;
}

.search-form {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 90%;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.search-text {
    display: block;
    width: 80%;
    font-size: 1.3rem;
    margin: 10px auto;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
    border-radius: 5px;
    border: none;
}

.search__container {
    margin: 10px auto;
    padding: 5px;
    overflow-y: auto;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
    width: 95%;
}

.search-phrase {
    width: 100%;
    display: flex;
    align-items: center;
}

.search-question,
.search-answer {
    background-color: #93adce;
    border-radius: 5px;
    padding: 2px 5px;
    /* min-width: 20%; */
    margin: 5px;
    box-shadow: 2px 2px 3px 2px rgb(106, 132, 134);
}

.search-answer {
    background-color: #43c752;
}

.search-question-item,
.search-answer-item {
    /* flex-basis: 100%; */
    flex-grow: 1;
    margin-left: 5px;
    font-size: 1.2rem;
}

.search-button__container {
    width: 60%;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
}

.search-line {
    border-bottom: 2px dashed black;
    margin: 5px 0;
}

.search-button,
.search-button--search {
    font-size: 1rem;
    padding: 5px 10px;
    min-width: 25%;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px rgb(106, 132, 134);
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.search-button--search {
    flex-grow: 0;
    padding: 10px;
    margin: 0 5px;
    min-width: 0;
    background-color: rgb(92, 201, 87);
}

.search-button:last-child {
    background-color: rgb(251, 88, 88);
}

.search-button:active {
    background-color: #43c752;
}

.search__loading-title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 250px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid black;
}

.search__loading-title-icon {
    margin-top: 10px;
    font-size: 1.8rem;
    animation: loading 3s linear infinite;
}

@keyframes loading {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}